body {
    border: solid 3px black;
    background-color: black;
}

header {

    background-color: white;
}

footer {

    background-color: black;
    text-align: center;
    color: white;
}

footer a {
    color: white;
    font-size: 12px;
    font-family: "Courier New"
}

main {

    background-color: #fffdd0;
}
section > h2{
    text-align: left;
}
h1, h2 {
    text-align: center;
}

.div {
    margin-left: 7%;
    margin-right: 7%;
    padding-left: 3%;
    padding-right: 3%;
    height: 60%;
    border-radius: 25px;
    border: 2px solid black;
    background-color: #fffdd0;

}
.divdown{
   margin-top:5%; 
}
.otherdiv {
    float: right;
    padding-right: 20%;
    border: 2px solid black;
    background-color:whitesmoke;
    width:50%;

}

.topdiv {
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 25px;
    border: 2px solid black;
    background-color: white;
    margin-bottom: 6%;
}
