body {
    border: solid 3px black;
    background-color: black;
}

header {

    background-color: white;
}

footer {

    background-color: black;
    text-align: center;
    color: white;
}

main {

    background-color: white;
}
h1, h2{
    text-align: center;
}
.div {
    padding-left: 7%;
    padding-right: 7%;
    height:60%;
}
.otherdiv {
    float:right;
    padding-right: 20%
}

