body {
    background-color: lightgray;
    text-align: center;
}

h1 {
    font-family: serif;
    font-size: 220%;
    color: firebrick;
    text-align: center;

}

.blinking {
    animation: blinkingText 1.8s infinite;
}

@keyframes blinkingText {
    0% {
        color: darkkhaki;
    }

    49% {
        color:transparent;
    }

    60% {
        color: darkkhaki;
    }

    99% {
        color: firebrick;
    }

    100% {
        color:transparent;
    }
}

p {
    font-family: cursive;
    font-weight: bolder;
    color: darkkhaki;
    font-size: 110%;
    border-radius: 30px;
    border: 3px solid firebrick;
    margin: auto;
    margin-bottom: 15px;
    width: 60%;
    background-color: black;
}

a {
    color: darkkhaki;
    font-family: monospace;
}

a:hover {
    color: aquamarine;
    background-color: black;
}

li {
    color: black;
    font-family: fantasy;
    font-size: 150%;
    padding-right: 10%;



}

h2 {
    text-align: center;
    text-decoration: underline;
    color: firebrick;
}

div {
    margin-left: 19%;
    width: 50%;
    border-radius: 30px;
    border: 3px solid firebrick;
    background-color: black;
    padding-right: 8%;
    padding-left: 4%
}


a:visited:hover {
    color: aquamarine;
}
